.panel-top {
  font-family:'Rubik', serif; letter-spacing:0em; font-size:18px; color:black; opacity: 0.8;

  }

.preview {


}

.preview:hover {
  -webkit-transition:0.25s !important;
  transition:0.25s !important;
  opacity:0.9;
}

.projectname {
  font-size:17px;
  line-height:1.29441;
  font-weight: 500;
  letter-spacing:0px;
  margin-bottom: 0;
}

.projectcategory {
  font-size:17px;
  line-height:1.29441;
  font-weight: 500;
  letter-spacing:0px;
  margin-bottom: 0;
  color: grey;
}

.customHeight { height:100% !important;}
